name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Flet
        run: pip install flet

      # 移除了 Setup Flutter 步骤，让 Flet 自己管理它需要的 SDK

      - name: Build APK
        # "yes |" 会自动在遇到询问时输入 y
        run: yes | flet build apk --verbose

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/*.apk
